@page
@model MyPizza.Web.Pages.ProducType.IndexModel
@{
    ViewData["Title"] = "Products";
}


<div class="container">    
    <div class="row mb-2 mb-5">
        <div class="col-md-2">
            <div class="badge bg-info w-100 text-center mb-3 fs-4">Categories</div>
            <ul class="nav nav-pills flex-column mb-5 fs-6 fw-normal">
                @foreach (var item in Model.ProductTypeModel.Categories!)
                {
                    <li class="nav-item">
                        <a class="nav-link @item.ActiveLink" asp-page="Index" asp-route-categoryId="@item.Id">@item.Name</a>
                    </li>
                }
            </ul>             
            @if (Model.ProductTypeModel.WeightTypes!.Count > 0)
            {
                <hr>
                <br /><br />
                <div class="badge bg-info w-100 text-center mb-3 fs-4">Sizes</div>
                <ul class="nav nav-pills flex-column fs-6 fw-normal">
                    @foreach (var item in Model.ProductTypeModel.WeightTypes)
                    {
                        <li class="nav-item">
                            <a class="nav-link @item.ActiveLink" asp-page="Index" asp-route-categoryId="@item.CategoryId"
                            asp-route-weightTypeId="@item.Id">@item.Name</a>
                    </li>
                }
            </ul>
            }
        </div>
        <div class="col-md-10">
            <partial name="ProductTypePartial/_ProductTypeCardsPartial"
                model="@Model.ProductTypeModel.ProductTypeItems" />
        </div>
    </div>
</div>




