@page
@model MyPizza.Web.Pages.Order.IndexModel
@{
    ViewData["Title"] = "My orders";
}

<div class="container">
    @foreach (var order in Model.OrderIndexModel.Orders)
    {
        <div class="row border border-primary rounded-5 mb-5">
            <div class="row">
                <div class="text-success fs-5">
                    Order date: &nbsp; @order.Date
                </div>            
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row justify-content-center mt-5">
                        <div class="text-primary d-flex align-items-center">
                            <p>
                                Address: @order.Street, &nbsp; @order.BuildingNumber, &nbsp; @order.AppartmentNumber
                            </p>                        
                        </div>
                        <div class="text-primary d-flex align-items-center">
                            <p>
                                Confirmation email: &nbsp; @order.Email
                            </p>                        
                        </div>
                        <div class="text-primary d-flex align-items-center">
                            <p>
                                Phone number: &nbsp; @order.PhoneNumber
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row justify-content-center">
                        <div class="col-md-2">
                            <img class="cart-image" src="~/images/cartimage.webp" alt="cartimage">
                        </div>
                        <div class="col-md fw-bold d-flex align-items-center fs-2">
                            Total amount: &nbsp; &#36; @order.Sum()
                        </div>
                        <div class="col-md align-items-center">
                            @if (!order.Paid)
                            {
                                <form asp-page="/Order/OrderConfirmed" asp-page-handler="CheckOut" method="post">
                                    <input hidden name="sum" value="@order.Sum()" />
                                    <input hidden name="orderId" value="@order.Id" />
                                    <button class="btn btn-warning w-50" type="submit">Checkout</button>
                                </form>
                            }
                            else
                            {
                                <div class="col-md text-success fs-3">Paid</div>
                            }
                        </div>
                    </div>
                    @foreach (var product in order.Products.Select((value, i) => new { i, value }))
                    {
                        <div class="row cart-product d-flex align-items-center fw-light">
                            <div class="col-md-2">
                                <img class="cart-image" src="~/@product.value.PictureUrl" alt="image @product.value.Name">
                            </div>
                            <div class="col-md-4">
                                @product.value.Name
                            </div>
                            <div class="col-md-2  text-end">
                                &#36;@product.value.Price
                            </div>
                            <div class="col-md-2  text-end">
                                @product.value.Weight @product.value.Measure
                            </div>
                            <div class="col-md-2 text-end">
                                @product.value.Quantity
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>


